.content-container-old {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 2px solid green;
}

.spinner-container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-container-flex {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.content {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid black;
}

.animate-me {
    border:2px solid red;
    z-index: -999;
    height: 500px;
    width: 500px;
    display: inline-block;
    position: absolute;
    animation:border 4s linear infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
@keyframes border {
    0% {border-radius:0}
    25% {border-radius:100%}
    50% {border-radius:0}
    75% {border-radius:100%}
    100% {transform:rotate(360deg);}
}

