.content-container-old {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container-flex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
}
