.content-container-old {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 2px solid green;
    animation:spin 4s linear infinite;
}

.spinner-container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-container-flex {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    animation:spin 4s linear infinite;
}

.content {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid black;
    animation:spin 4s linear infinite;
    animation-direction: reverse;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

